/* HEADER */

header {
	background: url('../img/seattle.JPG') no-repeat;
	background-attachment: fixed;
	background-position:center;
	margin: 0 auto;
	padding: 25% 10%;
	text-align: center;
}

.name {
	font-family: 'Handlee', cursive;
	font-size: 5em;
	text-transform: uppercase;
	color: #FFF;
}

.job {
	font-family: 'Special Elite', cursive;
	font-size: 1.5em;
	text-transform: lowercase;
	color: white;
	margin-top: -2em;
}

@media screen and (max-width: 320px) {
	header {
		background: black;
		padding-top: 9em;
		padding-bottom: 6em;
	}

	.name {
		font-size: 3em;
	}

	.job {
		font-size: 1em;
	}
}

/* NAVIGATION */

nav {
	font-family: 'Special Elite', cursive;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	position: fixed;
	background: #FFFAF0;
	opacity: 0.5;
	padding-top: 2em;
	padding-bottom: 2em;
}

nav:hover {
	opacity: 0.7;
}

nav a {
	padding: 5%;
	color: black;
	text-decoration: none;
}

nav a:hover {
	font-weight: 800;
	color: red;
}

/* PICTURE */

.mimi-photo img {
	max-width: 100%;
	margin: 0 auto;
	padding: 0;
}

/* ABOUT */

#about {
	padding-top: 10em;
	padding-bottom: 17em;

}

.seattle-photo {
	float: left;
	width: 20em;
	height: 20em;
	padding-left: 3em;
	padding-right: 3em;
	border-radius: 100%;
}

.description {
	padding-right: 3em;
	padding-top: 7em;
	line-height: 1.5em;
}

.description h1 {
	text-transform: uppercase;
}

@media screen and (max-width: 320px) {
	#about {
		padding-top: 6em;
	}
}

@media screen and (max-width: 640px) {
	.seattle-photo {
		float: none;
		width: 14em;
		height: 14em;
		display: block;
		margin: 0.5em auto -5em;
	}

	.description h1 {
		text-align: center;
	}

	.description {
		padding-left: 2em;
		padding-right: 2em;
	}

	.description p {
		text-align: center;
	}

	#about {
		padding-bottom: 6em;
	}
}

/* CONTACT */

#contact-info {
	background: #F0F8FF;
	padding-top: 20em;
	padding-bottom: 20em;
}

#contact-info h1 {
	text-align: center;
	text-transform: uppercase;
	border: solid;
	padding: 2em;
	width: 300px;
	margin: 0 auto;
}

#contact-info a {
	text-decoration: none;
	color: black;
}

#contact-info a:hover {
	color: red;
}

@media screen and (max-width: 320px) {
	#contact-info {
		padding-top: 10em;
		padding-bottom: 14em;
	}
}

@media screen and (max-width: 480px) {
	#contact-info h1 {
		width: 250px;
		padding: 0.5em;
	}
}

/* FOOTER */

footer {
	font-family: 'Special Elite', cursive;
	background-color: #000;
	text-align: center;
	color: white;
	margin-bottom: -1em;
	padding-top: 3em;
}

footer p {
	text-transform: uppercase;
	padding-top: 3.125em;
}

.github {
	width: 2.2em;
	height: 2.2em;
	padding-bottom: 0.625em;
	padding-left: 1em;
}

.email {
	width: 2.5em;
	height: 2.5em;
	padding-bottom: 0.625em;
	padding-left: 1em;
}

.copyright {
	font-size: 0.80em;
	padding-top: 1.25em;
}
