@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?-skws5q');
  src:url('../fonts/icomoon.eot?#iefix-skws5q') format('embedded-opentype'),
    url('../fonts/icomoon.woff?-skws5q') format('woff'),
    url('../fonts/icomoon.ttf?-skws5q') format('truetype'),
    url('../fonts/icomoon.svg?-skws5q#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e600";
}
.icon-pencil:before {
  content: "\e601";
}
.icon-camera:before {
  content: "\e602";
}
.icon-envelope:before {
  content: "\e603";
}
.icon-location:before {
  content: "\e604";
}
.icon-keyboard:before {
  content: "\e605";
}
.icon-user:before {
  content: "\e606";
}
.icon-smiley:before {
  content: "\e607";
}
.icon-question:before {
  content: "\e608";
}
.icon-arrow-up:before {
  content: "\e609";
}
.icon-arrow-down:before {
  content: "\e60a";
}
.icon-console:before {
  content: "\e60b";
}
.icon-mail:before {
  content: "\e60c";
}
.icon-mail2:before {
  content: "\e60d";
}
.icon-mail3:before {
  content: "\e60e";
}
.icon-github:before {
  content: "\e60f";
}
.icon-linkedin:before {
  content: "\e610";
}
