hr {
  margin: 0 30%;
}

.about {
  padding-top: 4em;
  padding-bottom: 4em;
  h1 {
    padding-bottom: 1em;
  }
  p {
    padding-top: 1em;
  }
}

.portfolio {
  padding-top: 4em;
  padding-bottom: 10em;
  h1 {
    padding-bottom: 1em;
  }
}

.contact{
  padding-top: 8em;
  padding-bottom: 8em;
  h1 {
    padding-bottom: 1em;
  }
}










