.tut {
  width: 100%;
}

.portfolio__container {
  width: 96%;
  margin: 0 auto;
}

figcaption {
  text-align: center;
}

.portfolio {
  // background: url('../../img/background.jpg') no-repeat center center;
  // background-size: cover;
  padding-bottom: 10em;
}
