/* COLORS */
$purple: rgba(188, 19, 254, 0.3);
$peach: rgb(255, 226, 216);
$green: #23EF90;


$navbar-color: $purple;
$contact-hover-color: $green;
$footer-hover-color: $peach;

/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Muli);
@import url(http://fonts.googleapis.com/css?family=Ovo);
@import url(http://fonts.googleapis.com/css?family=Karla);
@import url(http://fonts.googleapis.com/css?family=Merriweather);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

$base: 1rem;
$medium: $base;

$small: $medium/1.618;
$tiny: $small/1.618;
$large: $medium * 1.618;
$huge: $large * 1.618;
$mega: $huge * 1.618;

/* IMAGES */
$header-background: url(../img/dogs.jpg);
$contact-background: url('../img/smile.jpg');
