html {
  font-size: 22px;
  font-family: 'Karla', sans-serif;
  @include media-min (800px, 23px);
  @include media-min (860px, 24px);
  @include media-min (920px, 25px);
  @include media-min (1000px, 26px);
}

h1 {
  text-align: center;
}

header {
  h1 {
    font-size: $mega;
  }
  p {
    // font-family: 'Ovo', serif;
    font-size: $large;
    margin-bottom: 0.5em;
  }
  a {
    font-size: $small;
    color: #fff;
  }
}

.icon-keyboard {
  font-size: $mega;
}

.about p {
  font-family: 'Open Sans Condensed', sans-serif;
  width: 60%;
  margin: 0 auto;
}

figcaption {
  font-family: 'Open Sans Condensed', sans-serif;
}
