.contact {
  background: $contact-background center center;
  background-size: contain;
  background-attachment: fixed;
  text-align: center;
  a {
    color: #fff;
    font-size: 3em;
    padding: 0.1em;
    &:hover {
      color: $contact-hover-color;
    }
  }
}
