header {
  background: $header-background no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 33em;
  section {
    position: relative;
    text-align: center;
    top: 5em;
    z-index: 1;
  }
}
