nav {
  position: fixed;
  width: 100%;
  background: $navbar-color;
  z-index: 2;
  li {
    text-align: center;
    padding: 0.2em 0;
  }
  a:hover {
      padding-bottom: 0.1em;
      border-bottom: 0.1em solid #fff;
  }
}
